<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show all data</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
    <div class="cursor"></div>
    <div class="navbar">
        <h4>Home</h4>
        <div class="menu-toggle">☰</div>
        <div class="menu">
            <a href="/show">
                <h4>All listings</h4>
            </a>
            <a href="/show/new">
                <h4>Airbnb your Home</h4>
            </a>
        </div>
    </div>
    <h1 class="listing">Listings</h1>
    <div class="swiper-container">
        <div class=" wrapper swiper-wrapper">
            <% for(let data of datas) { %>
                <div class="swiper-slide">
                    <a href="/show/<%= data._id%>/view"><img src="<%= data.image.url %>" alt="<%= data.title %>"></a>
                    <h3><%= data.title %></h3>
                    <p>Price: $<%= data.price %></p>
                    <p>Location: <%= data.location %>, <%= data.country %></p>
                </div>
            <% }; %>
        </div>
        <!-- Add Pagination -->
       
      
    </div>

    <footer>
        <div class="footer">
            <a href="https://www.instagram.com" target="_blank">
                <img src="https://png.pngtree.com/element_our/sm/20180630/sm_5b37de3263964.jpg" alt="Instagram" width="30" height="30">
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/768px-Facebook_Logo_%282019%29.png" alt="Facebook" width="30" height="30">
            </a>
            <a href="https://www.linkedin.com" target="_blank">
                <img src="https://static.vecteezy.com/system/resources/previews/018/930/480/non_2x/linkedin-logo-linkedin-icon-transparent-free-png.png" alt="LinkedIn" width="30" height="30">
            </a>
        </div>
    </footer>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="module" src="/js/gsap.js"></script>
    <script type="module" src="/js/gsap1.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 10,
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                },
                1024: {
                    slidesPerView: 4,
                    spaceBetween: 40,
                },
            },
        });

        // GSAP animations
    
    </script>
</body>
</html>